.link-wrapper-grid {
    display: block; /* Ensures it behaves like a div */
    width: 22%;/* Ensures it takes full width */
}

.grid {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1.5rem;
    background-color: var(--darkgrey);
    border: 1px solid var(--darkgrey);
}

.grid-price-positive:hover {
    border-color: var(--green);
}

.grid-price-negative:hover {
    border-color: var(--red);
}

.upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper .left {
    flex: 1 1 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.upper .left img {
    width: 3rem;
    height: 3rem;
}

.upper .left h4 {
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.2rem;
}

.upper .left p {
    color: var(--grey);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: smaller;
    margin: 0.2rem;
}

.upper .right {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.upper .right .star-logo-red {
    font-size: 3.2rem;
    border: 1px solid var(--red);
    color: var(--red);
    border-radius: 50%;
    padding: 0.2rem;
}

.upper .right .star-logo-green {
    font-size: 3.2rem;
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 50%;
    padding: 0.2rem;
}

.upper .right .star-logo-red:hover {
    background-color: var(--red);
    color: var(--white);
}

.upper .right .star-logo-green:hover {
    background-color: var(--green);
    color: var(--white);
}

.middle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.middle p {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 1rem;
}

.middle .price-positive {
    border: 1px solid var(--green);
    color: var(--green);
}

.middle .price-positive:hover {
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
}

.middle .price-negative {
    border: 1px solid var(--red);
    color: var(--red);
}

.middle .price-negative:hover {
    background-color: var(--red);
    color: var(--white);
    transition: all 0.3s;
}

.middle .trend-icon {
    border: 1px solid var(--green);
    border-radius: 50%;
    font-size: 2.4rem;
    padding: 0.2rem;
}

.middle .up {
    border: 1px solid var(--green);
    color: var(--green);
    transition: all 0.3s;
}

.middle .up:hover {
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
}

.middle .down {
    border: 1px solid var(--red);
    color: var(--red);
}

.middle .down:hover {
    background-color: var(--red);
    color: var(--white);
}

.lower {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.lower > p {
    font-size: 1.5rem;
}

.lower .coin-price-green {
    color: var(--green);
}

.lower .coin-price-red {
    color: var(--red);
}

.lower .market-cap {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: var(--grey);
    font-weight: 300
}


@media screen and (max-width: 800px) {
    .link-wrapper-grid {
        display: block; /* Ensures it behaves like a div */
        width: 45%;/* Ensures it takes full width */
    }

    .grid {
        padding: 0.4rem 1rem;
        gap: 0.7rem;
    }

    .upper .left {
        gap: 0.7rem;    
    }
    
    .upper .left img {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .upper .left h4 {
        font-size: 1rem;
    }
    
    .upper .left p {
        font-size: 0.7rem;
    }

    .upper .right {
        bottom: 1.7rem;
    }
    
    .upper .right .star-logo-red {
        font-size: 2.2rem;
    }
    
    .upper .right .star-logo-green {
        font-size: 2.2rem;
    }
  
    .middle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .middle p {
        font-size: 0.7rem;
    }

    .middle .trend-icon {
        font-size: 2rem;
    }

        
    .lower {
        gap: 0.7rem;
    }

    .lower > p {
        font-size: 1.2rem;
    }

    .market-cap >   p{
        font-size: 0.9rem;
    }

}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    .link-wrapper-grid {
        display: block; /* Ensures it behaves like a div */
        width: 45%;/* Ensures it takes full width */
    }

    .upper .left {
        gap: 0.7rem;    
    }
    
    .upper .left img {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .upper .left h4 {
        font-size: 1rem;
    }
    
    .upper .left p {
        font-size: 0.7rem;
    }


    .upper .right {
        bottom: 0.7rem;
    }
    
    .upper .right .star-logo-red {
        font-size: 2.3rem;
    }
    
    .upper .right .star-logo-green {
        font-size: 2.rem;
    }

    .middle p {
        font-size: 0.8rem;
    }

    .middle .trend-icon {
        font-size: 2rem;
    }
        
    .lower {
        gap: 0.7rem;
    }

    .lower > p {
        font-size: 1.4rem;
    }

    .market-cap >   p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .link-wrapper-grid {
        display: block; /* Ensures it behaves like a div */
        width: 45%;/* Ensures it takes full width */
    }

    upper .left {
        gap: 0.7rem;    
    }
    
    .upper .left img {
        width: 3rem;
        height: 3rem;
    }
    
    .upper .left h4 {
        font-size: 1.2rem;
    }
    
    .upper .left p {
        font-size: 1rem;
    }
    
    .upper .right .star-logo-red {
        font-size: 2.9rem;
    }
    
    .upper .right .star-logo-green {
        font-size: 2.9rem;
    }

    .middle p {
        font-size: 1.2rem;
    }

    .middle .trend-icon {
        font-size: 2.5rem;
    }
        
    .lower {
        gap: 0.7rem;
    }

    .lower > p {
        font-size: 1.7rem;
    }

    .market-cap >   p{
        font-size: 1.3rem;
    }
}