*{
    box-sizing: border-box;
}

.footer {
    position: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}